.perfil {
  max-width: 100vw;
  height: 100vh;
  background-image: linear-gradient(#05417e, #195b9e);
  margin-top: 50px;
}

.titulo {
  display: flex;
  justify-content: center;
}

.tituloTxt {
  padding-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 2.5rem;
}

.divisao {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.container {
  display: flex;
  justify-content: center;
}

.imagem {
  height: 320px;
  width: 360px;
  border-radius: 20px;
  margin-right: 50px;
}
.descricao {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}
